name: CI

on:
  pull_request:
    paths:
      - '**.el'
      - '**.yml'
      - 'Makefile'
  push:
    paths:
      - '**.el'
      - '**.yml'
      - 'Makefile'

jobs:
  test:
    #if: github.repository_owner == 'mooz'
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]
        emacs_version:
          - 25.1
          - 26.3
          - 27.2
          - 28.1
          - snapshot
    steps:
    - name: Set up Emacs
      uses: jcs090218/setup-emacs@master
      with:
        version: ${{matrix.emacs_version}}

    - uses: actions/setup-node@v2
      with:
        node-version: '14'

    - uses: emacs-eask/setup-eask@master
      with:
        version: 'snapshot'

    - name: Check out the source code
      uses: actions/checkout@v2

    - name: Test the project
      run: |
        emacs --version
        make test
